<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <br><br>

                <h3>Create a new listing</h3>
                <form action="/listings" method="POST">
                    <div class="mb-3">
                        <label class="form-label" for="title">Title:</label>
                        <input type="text" id="title" name="listing[title]" class="form-control"
                            placeholder="Add a catchy title">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">Description:</label>
                        <textarea id="description" name="listing[description]" class="form-control"
                            placeholder="Enter description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="image">Image URL/Link:</label>
                        <input type="text" id="image" name="listing[image]" class="form-control"
                            placeholder="Enter image URL/Link">
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label class="form-label" for="price">Price:</label>
                            <input type="number" id="price" name="listing[price]" class="form-control"
                                placeholder="1200">
                        </div>

                        <div class="mb-3 col-md-8">
                            <label class="form-label" for="country">Country:</label>
                            <input type="text" id="country" name="listing[country]" class="form-control"
                                placeholder="India">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="location">Location:</label>
                        <input type="text" id="location" name="listing[location]" class="form-control"
                            placeholder="Alwar, Rajasthan">
                    </div>
                    <br><br>
                    <button class="btn btn-dark add-btn">Add</button>
                    <br><br>

                </form>
            </div>
        </div>
    </body>