<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nomad Nest</title>
</head>

<body>
    <h3>Create a new listing</h3>
    <form action="/listings" method="POST">
        <input type="text" name="listing[title]" placeholder="enter title">
        <br><br>
        <textarea name="listing[description]" placeholder="enter description"></textarea>
        <br><br>
        <input type="text" name="listing[image]" placeholder="enter image URL/Link">
        <br><br>
        <input type="number" name="listing[price]" placeholder="enter price">
        <br><br>
        <input type="text" name="listing[location]" placeholder="enter location">
        <br><br>
        <input type="text" name="listing[country]" placeholder="enter country">
        <br><br>
        <button>Add</button>
        <br><br>
    </form>    
</body>

</html>